.Quiz{
  min-height: 400px;
  width: 320px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  padding: 20px 0;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  transition: all .4s ease-out;
  position: relative;
  
}

.Next{
   width: 100px;
   margin-left: calc(100% - 120px)
}
.Next Button{
 border: none;
  background: #f9aa2b;
  color: #fff;
  justify-content: center
}

.Quiz .LastPage{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.TopImage{
  width: 120px;
  height: auto;
  position: absolute;
  top: 0;
  transform: translateY(calc(-50% - 7.5px));
  right: 0;
  padding-bottom: 15px;
}

.Text{
  display: block;
  position: absolute;
  text-align: left;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  top: -40px;
 height: 80px;
 text-transform: uppercase;
 letter-spacing: 2px;



}