.Button {
  background-color: transparent;
  border: 1px solid #5c61c2;
  border-radius: 7px;
  color: #5c61c2;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px 17px;
  margin: 10px 0;
  font-weight: 400;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;
  position: relative
}

.Button span {
  margin-right: 30px;
}

.Button:hover {
  border: none;
  color: #fff;

  background-color: #f9aa2b;
}

.Button i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  height: 20px;
  width: 20px
}

.Button span:nth-of-type(2) {
  margin-right: 20px;
}

.Correct,
.Correct:hover {
  background-color: #60be88;
  color: #fff;
  border: none;
}

.Wrong,
.Wrong:hover {
  color: #fff;
  background-color: #ea8082;


  border: none;
}