.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: url('./assets/background.png') no-repeat 100% 100%/cover 


}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App > p{
  position: absolute;
  bottom: 10px;
  font-size: .7rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px

}

